
.app-header {
    height: 50px;
    background-color: #795C5F;
    color: #E6B89C;
    line-height: 50px;
    text-align: center;
}

.chart-container {
    height: 400px;
    text-align: center;
}

.table-container {
    height: 500px;
    overflow-x: scroll;
}

.table-container tbody {
    overflow: hidden;
}